$default-color: white;
$default-text-color: #51697a;
$selected-color: #1e93f5;
$selected-text-color: white;

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline:0;
}

.filter-button {
    color: $default-text-color;
    background-color: $default-color;

    max-height: 30px;
    line-height: 28px;

    margin: 0 4px 0 0;
    padding: 0 16px;

    border: 1px solid #e0e7ed;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 13px;
}

.filter-button.selected {
    color: $selected-text-color;
    background-color: $selected-color;
}

.filter-button .side-text {
    font-weight: 400;
    margin-left: 10px;
}

.filter-button.selected, .filter-button:hover {
    background-color: $selected-color;
    border-color: $selected-color;
    color: $selected-text-color;
}

.filter-button:hover {
    cursor: pointer;
}

.advanced-filter-button {
    display: inline-block;
    padding: 0;
}

.advanced-filter-button .filter-title {
    padding: 0 10px;
}

.advanced-filter-button .icon {
    margin-top: 4px;
    margin-right: 12px;
    line-height: 5px;
}

.advanced-filter-container {
    cursor: default;
    
    position: fixed;
    list-style-type: none;

    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.26);
    color: $default-text-color;

    margin-top: 4px;
    border-radius: 2px;
}

.advanced-filter-content {
    width: 290px;
    margin: 15px 10px;
}

.advanced-filter-content li, .advanced-filter-content label {
    cursor: pointer;
}

.advanced-filter-content li {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.advanced-filter-content li:hover {
    background-color: #f1f4f7;
}

.advanced-filter-content label {
    color: #17232c;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 400;
}

.advanced-filter-content .filter-dropdown-side-text {
    color: #6d8494;
    font-size: 13px;
    margin-left: auto;
    font-family: sans-serif;
}

.filter-multiple-select.selected label {
    color: #51697a !important;
}

.filter-dropdown-side-text:hover {
    text-decoration: underline;
}

.advanced-filter-content li:hover {
    label {
        transition: color 150ms ease-out;
        color: #1e93f5;
    }

    .checkbox {
        transition: border 150ms ease-out;
        border: 1px solid #1e93f5;
    }

}

.filter-multiple-select {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}