$default-color: white;
$default-text-color: #51697a;
$selected-color: #1e93f5;
$selected-text-color: white;

button::-moz-focus-inner {
    border: 0;
}

.filter-button {
    color: $default-text-color;
    background-color: $default-color;

    max-height: 30px;
    line-height: 28px;

    margin: 0 4px 0 0;
    padding: 0 16px;

    border: 1px solid #e0e7ed;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 13px;
}

.filter-button.selected {
    color: $selected-text-color;
    background-color: $selected-color;
}

.filter-button .side-text {
    font-weight: 400;
    margin-left: 10px;
}

.filter-button.selected, .filter-button:hover {
    background-color: $selected-color;
    border-color: $selected-color;
    color: $selected-text-color;
}

.filter-button:hover {
    cursor: pointer;
}

.advanced-filter-button {
    display: inline-block;
    padding: 0;
}

.advanced-filter-button .filter-title {
    padding: 0 10px;
}

.advanced-filter-button .icon {
    margin-top: 4px;
    margin-right: 12px;
    line-height: 5px;
}